@import "_cssreset";
@import "_fonts";

$fontSize: 0.9em;
$spacing: 15px;
$transitionSpeed: 0.2s;
$borderRadius: 4px;

:root {
  --colorBackground: #2a2b26;
  --colorAccent: #48929e;
  --colorText: #eee;
}

html {
  touch-action: manipulation;

  * {
    box-sizing: border-box;
    outline: none;
    transition-property: none;
    transition-duration: $transitionSpeed;
    scrollbar-width: thin;
    scrollbar-color: var(--colorAccent) var(--colorBackground);
  }

  body {
    overscroll-behavior: contain;
    font-family: OpenSans;
    font-size: $fontSize;
    font-weight: normal;

    background: var(--colorBackground);

    display: flex;
    flex-direction: column;
    padding: $spacing * 3 $spacing;
    gap: $spacing;
  }
}

svg path {
  fill: var(--colorText);
}

input {
  padding: 0 $spacing;
}

button {
  min-width: 45px;
  cursor: pointer;
  display: flex;

  &:hover,
  &:active {
    filter: brightness(125%);
  }
}

input,
button {
  color: var(--colorText);
  background-color: var(--colorAccent);
  border: none;
  border-radius: $borderRadius;
}

.list {
  align-self: center;
  width: 100%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  gap: $spacing;
}

.item {
  display: flex;
  gap: $spacing;
  height: 45px;

  &.checked {
    * {
      text-decoration: line-through;
    }

    .item-check,
    .item-input {
      filter: brightness(70%);
    }
  }

  .filler {
    min-width: 45px;
  }

  .item-input {
    flex-grow: 1;
  }
}

.bg-transparent {
  background-color: transparent;
}
